<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /api/
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^ public/index.php [L]
</IfModule>

<Files .env>
    Order allow,deny
    Deny from all
</Files>

<Directory "storage">
    Order allow,deny
    Deny from all
</Directory>
